<div class="post-comments ml-6 mb-4">
  <p>
    <b class="has-text-pink"><%= comment.user.name %>:</b> <%= comment.content %>
  </p>
  <span class='is-size-7 has-text-grey-light'> <%= comment.created_at.strftime("%Y/%m/%d") %> </span>
</div>