<section class="users-section columns is-mobile pb-6">
  <div class="column is-10 is-offset-1 mt-2">
  <h1 class="has-text-white has-text-weight-bold is-size-4 my-3">All Socionetics: </h1>
    <%= render_all_users %>
  </div>
</section>
