<section class="users-section columns is-mobile">
  <div class="column is-10 is-offset-1">
  <h1 class="has-text-pink is-size-4 mb-2">All Socionetics: </h1>
    <%= render_all_users %>
  </div>
</section>
