<section class="user-section is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
  <div class="space-between">
  <article class="media">
    <figure class="media-left">
        <%= image_tag ("/assets/flame-message.png"), class: "img", width: "200" %>
    </figure>
    <div class="media-content">
      <div class="content mt-5 ml-2 pt-2">
        <span class="is-size-4 has-text-pink has-text-weight-semibold">
          <%= @user.name %>
        </span>
        <br>
        <span>
          <%= render partial: 'users/friend_btn' %>
        </span>
      </div>
    </div>
  </article>
  </div>
  <article class="timeline">
    <%= render_posts %>
  </article>
</section>
