/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

$pink: #cc55fc;

a,
a:active {
  color: inherit;
  text-decoration: none;
}

.is-pink {
  background-color: $pink;
  color: white;
}

.has-text-pink {color: $pink;}

.button {
  border: hidden;
  font-weight: 700;
}

// MOBILE
@media only screen and (max-width: 768px) {
  .timeline {
    min-width: 350px;
    margin-top: 25px;
  }

  .post-box {
    min-width: 350px;
    min-height: 100px;
  }

  .new_comment {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .form-control {
    min-width: 270px;
    min-height: 50px;
  }
}

// OTHERS
@media only screen and (min-width: 768px) {
  .timeline {
    min-width: 600px;
    margin-top: 25px;
  }

  .post-box {
    min-width: 600px;
    min-height: 100px;
  }

  .new_comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .form-control {
    min-width: 70%;
    min-height: 50px;
  }
}
